button{
  border: 0;
  padding: 0;
}
.square {
  width: 100%;
  height: 100%;
  font-size: 5rem;
  color: #fff;
  border: white solid 6px;
  border-radius: 0.3rem;
  transition: all 0.5s;
  padding: 0;
  transform-style: preserve-3d;
  background-color: black;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    
  };
  

}

.square-x {
  @extend .square;
 /* background: linear-gradient(to right, #598bff, #3366ff);*/

  /*transform: rotateY(180deg);*/
}

.square-o {
  @extend .square;
  /*background: linear-gradient(to right, #ff708d, #ff3d71);*/
  /*transform: rotateY(180deg);*/
}

.square-empty {
  @extend .square;
  background: black;
  min-height: 100px;
}

.square-win {
  @extend .square;
  background: linear-gradient(to left, #2dbd64, #38ef7d);
}