

<!-- <div id="container">
	<div id="square">
		<main>
			<app-square *ngFor="let val of squares; let i = index" [value]="val" [disabled] = "disable" (click)="makeMove(i)">
			</app-square>
		</main>
	</div>
	<div id="rightPane">
		<button class="button" (click)="newGame()"> Start new game</button>
		<div class="box" *ngIf="showPlayer&&!winner&&!tie">
			<p>Players</p>
			<h2>
				Human: X<br>
				Computer: O
				{{check}}
			</h2>
		</div>


		<div class="box" *ngIf="huWinner">
			<h3>
				You won the game!!
			</h3>
		</div>
		<div class="box" *ngIf="aiWinner">
			<h3>
				You lost the game :(
			</h3>
		</div>
		<div class="box" *ngIf="tie&&!winner">
			<h3>
				It's a tie!
			</h3>
		</div>
	</div>

	
</div> -->
<div id = "container" fxLayout = "row wrap" fxLayout.lt-sm="column" fxLayoutGap = "2%" fxLayoutAlign = "flex-start">
	<div id="square" fxFlex = "0 1 calc(50% - 2%)" fxFlex.lt-md="0 1 calc(50%-2%)" fxFlex.lt-sm = "100%" style="--aspect-ratio: 1/1">
		<main>
			<app-square *ngFor="let val of squares; let i = index" [value]="val" [disabled] = "disable" (click)="makeMove(i)">
			</app-square>
		</main>
	</div>
	<div id = "buttons"  fxFlex = "0 1 calc(50% - 2%)" fxFlex.lt-md="0 1 calc(50%-2%)" fxFlex.lt-sm = "100%">
	<div id="rightPane">
		<button class="button" (click)="newGame()"> Start new game</button>
		
	</div>

	<div id="leftPane">
		<div class="box" *ngIf="!winner&&!tie">
			<p>Players</p>
			<h2>
				Player-1: X<br>
				Player-2: O
				{{check}}
			</h2>
		</div>
		<div class="box" *ngIf="winner">
			<h3>
				Player {{winner}} won the game!
			</h3>
		</div>
		
		<div class="box" *ngIf="tie&&!winner">
			<h3>
				It's a tie!
			</h3>
		</div>
	</div>
</div>

	

</div> 

