h1 {
    font-size: 40px;
    font-weight: 900;
    font-family: sans-serif;
    color: rgb(49, 0, 29);
    text-shadow: 3px 2px 2px rgb(53, 76, 99);
    
}
h2 {
    font-size: 35px;
    font-weight: 900;
    font-family: Tahoma, sans-serif;
    color: rgb(138, 4, 82);
    text-shadow: 3px 2px 2px slategray;
    margin: 2%;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 27px;
    }
}
