/* You can add global styles to this file, and also import other style files */
body,html{
	padding:0px;
	margin: 0px;
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;

}
.container{
  background-image: url("/assets/images/background.jpg");
  background-repeat: no-repeat;
 
  background-size: 100% 100%;
  width: 100%;
  /*padding: 5%;*/
  height: 120%;

  
  align-content: center;
  
}

